@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #1db954;
  --color-background-dark: #121212;
  --color-surface: #181818;
  --color-surface-light: #282828;
}

@layer base {
  body {
    @apply bg-[#121212] text-white font-sans antialiased;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
